:root {
    --primario: #004370;
    --secundario: #22b9dc;
    --fuentePrincipal: 'Poppins', 'sans serif';
    --blanco: #fff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/* Globales */
body {
    background-color: var(--blanco);
    font-size: 1.6rem;
    line-height: 1.5;
}

h2{
    text-align: center;
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
}

h3{
    text-align: center;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    color: var(--primario);
}

a {
    text-decoration: none;
}

input:focus {
    outline: none;
    border: 4px solid #22b9dc;
}

/* titulos */
.trm,
.calculadora{
    color: var(--primario);
}
.trm_colombia, 
.calculadora_viaje{
    color: var(--secundario);
}

/* logo */

.contenedor {
    text-align: center;
    padding-top: 2rem;
} 

.header {
    padding: 20rem;
}

/* principal */
.control {
    max-width: 120rem;
    margin: 0 auto;
}

.control_trm {
    text-align: center;
}

.trmycalculadora {
    display: grid;
    grid-template-rows: repeat(2, auto);
    padding-top: 4rem;
}

@media (min-width: 768px) {
    .trmycalculadora {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10rem;
        padding-top: 2rem;
    }
}

.campo{
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3rem;

}

.inicio_date,
.fin_date{
    text-align: center;
    margin: 0;
    border: .2rem solid;
    font-family: var(--fuentePrincipal);
    color: var(--secundario);
    padding: 1rem;
}
.inicio_date,
.fin_date:hover{
    cursor: pointer;
}

.boton {
    display: inline-block;
    font-family: var(--fuentePrincipal);
    color: #22b9dc;
    padding: 2rem;
    text-align: center;
    background-color: var(--primario);

}

.boton--primario {
    background-color: var(--blanco);
    border: 3px solid var(--secundario);
    border-radius: 12px;
    padding: 1.5rem;
    
}

.btncal{
    padding-top: 4rem;
    text-align: center;
    margin: 0;
}

.boton:hover {
    background-color: var(--secundario);
    color: var(--blanco);
    cursor: pointer;
}

.resultado {
    border: var(--secundario);
    padding-top: 2rem;
    display: grid;
    padding-top: 2rem;
    border: var(--blanco);
}

.resultado_dias {
    background-color: var(--blanco);
    border: 3px solid var(--secundario);
    font-family: var(--fuentePrincipal);
    border-radius: 1rem;
    padding: 1.5rem;
    color: var(--primario);
    cursor: pointer;
}
.convertidor{
    padding-top: 2rem;
}

.pesos {
    background-color: var(--blanco);
    border: 3px solid var(--secundario);
    font-family: var(--fuentePrincipal);
    border-radius: 1rem;
    padding: .5rem;
    color: var(--primario);
    cursor: pointer;
}
.dolares{
    background-color: var(--blanco);
    border: 3px solid var(--secundario);
    font-family: var(--fuentePrincipal);
    border-radius: 1rem;
    padding: .5rem;
    color: var(--primario);
    cursor: pointer;

}
.valdolares {
    color: var(--primario);
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--fuentePrincipal);
}
.grid_convertidor{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
}
.btn_convert{
    padding-top: 4rem;
    text-align: center;
    margin: 0;
}
.btn{
    display: inline-block;
    font-family: var(--fuentePrincipal);
    color: var(--secundario);
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 20rem;
    
}
.btn:hover{
    background-color: var(--secundario);
    color: var(--blanco);
    cursor: pointer;
}
.navegacion {
    display: flex;
    gap: 4rem;
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: var(--primario);
    font-family: var(--fuentePrincipal);
    border: none;
}
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}
.contenedor_nav {
    padding-top: 4rem;
}

.contenedor_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
} 
