{% extends "templates/app.twig" %}
{% block title %}
    {{ pageTitle | capitalize }}
{% endblock %}

{% block content %}
    {% include "partials/header.twig" %}
    
    <main>
        <div class="container">
            <div class="trm">
                <h2 class="title">
                    Valor del dólar e indicadores en <span>Colombia</span>
                </h2>
                <!-- DolarWeb IndMin Start -->
                <div id="IndicadoresMin">
                    <h2>
                        <a href="https://dolar.wilkinsonpc.com.co/"></a>
                    </h2>
                </div>
                <script src="https://dolar.wilkinsonpc.com.co/widgets/gratis/indicadores-economicos-min.js?ancho=170&alto=85&fondo=transparent&fsize=10&ffamily=sans-serif&fcolor=000000"></script>
                <!-- DolarWeb IndMin End -->
            </div>
            <div class="convertidor">
                <h2 class="title">
                    Convertidor de <span>Dólares a Pesos</span>
                </h2>
                <form class="form-convertidor">
                    <div class="mb-3">
                        <label for="dolar" class="form-label valdolares">Dólares</label>
                        <input type="number" class="form-control" id="dolar">
                    </div>
                    <div class="mb-3">
                        <label for="pesos" class="form-label valdolares">Pesos</label>
                        <input type="text" class="form-control" id="pesos" readonly>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" id="convertir">Convertir</button>
                    </div>
                </form>
            </div>
            <div class="calc-viajes">
                <h2 class="title">Calculadora de días <span>de viaje </span></h2>
                <form class="form-viajes">
                    <div class="mb-3">
                        <label for="inicio" class="inicio">Fecha inicio de viaje</label>
                        <input type="date" class="form-control" id="inicio">
                    </div>
                    <div class="mb-3">
                        <label class="fin" for="inicio">Fecha de Regreso</label>
                        <input type="date" class="form-control" id="fin">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" id="dias">Calcular Días</button>
                    </div>
                </form>
            </div>
            <div class="calc-tarifas">
                <h2 class="title">Calculadora de <span>Tarifas</span></h2>
                <form class="form-tarifas">
                    <div class="mb-3">
                        <label for="inicio" class="inicio">Ubicación</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccione ubicación</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="kilometros" for="inicio">Kilómetros</label>
                        <input type="text" class="form-control" id="kilometros">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" id="dias">Calcular Tarifa</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="hidden">
            <input type="hidden" id="dolar_value" class="hidden" value="<?php echo $dolarRealValue ?>">
        </div>
    </main>

    {% include "partials/footer.twig" %}
{% endblock %}
