{% extends "templates/app.twig" %}
{% block title %}
    {{ pageTitle | capitalize }}
{% endblock %}

{% block content %}
    {% include "partials/header.twig" %}
    
    <main>
        <div class="container">
            <div class="trm">
                <h2 class="title">
                    Valor del dólar e indicadores en <span>Colombia</span>
                </h2>
                <!-- DolarWeb IndMin Start -->
                <div id="IndicadoresMin">
                    <h2>
                        <a href="https://dolar.wilkinsonpc.com.co/"></a>
                    </h2>
                </div>
                <script src="https://dolar.wilkinsonpc.com.co/widgets/gratis/indicadores-economicos-min.js?ancho=170&alto=85&fondo=transparent&fsize=10&ffamily=sans-serif&fcolor=000000"></script>
                <!-- DolarWeb IndMin End -->
            </div>
            <div class="convertidor">
                <h2 class="title">
                    Convertidor de <span>Dólares a Pesos</span>
                </h2>
                <form class="form-convertidor">
                    <div class="mb-3">
                        <label for="dolar" class="form-label valdolares">Dólares</label>
                        <input type="number" class="form-control" id="dolar">
                    </div>
                    <div class="mb-3">
                        <label for="pesos" class="form-label valdolares">Pesos</label>
                        <input type="text" class="form-control" id="pesos" readonly>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" id="convertir">Convertir</button>
                    </div>
                </form>
            </div>
            <div class="calc-viajes">
                <h2 class="title">Calculadora de días <span>de viaje </span></h2>
                <form class="form-viajes">
                    <div class="mb-3">
                        <label for="inicio" class="inicio">Fecha inicio de viaje</label>
                        <input type="date" class="form-control" id="inicio">
                    </div>
                    <div class="mb-3">
                        <label class="fin" for="inicio">Fecha de Regreso</label>
                        <input type="date" class="form-control" id="fin">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" id="dias">Calcular Días</button>
                    </div>
                </form>
            </div>
            <div class="calc-tarifas">
                <h2 class="title">Calculadora de <span>Tarifas</span></h2>
                <form id="formulario-tarifas" class="row">
                    <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Ubicación</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input id="ubicacion1" name="ubicacion" type="radio" checked class="form-check-input" value="valle-aburra">
                                <label class="form-check-label" for="ubicacion1">Valle de Aburrá</label>
                            </div>
                            <div class="form-check">
                                <input id="ubicacion2" name="ubicacion" type="radio" class="form-check-input" value="ceja-rionegro-retiro">
                                <label class="form-check-label" for="ubicacion2">La Ceja - Rionegro - El Retiro</label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row row-cols-lg-auto kms">
                        <div class="col-12 mb-3">
                            <label class="visually-hidden" for="kilometros">Kilómetros</label>
                            <div class="input-group">
                                <div class="input-group-text">KM</div>
                                <input id="kilometros" name="kilometros" type="number" class="form-control" placeholder="Kilómetros">
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <button type="submit" class="btn btn-primary" id="dias">Calcular Tarifa</button>
                        </div>
                        <div class="col-12 mb-3">
                            <output id="output" name="output" for="ubicacion kilometros"></output>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    {% include "partials/footer.twig" %}
{% endblock %}
