<header class="header">
    <div class="container">
        <div class="logo">
            <a href="https://www.conecty.co/" title="Conecty - Sim card internacional para viajes al exterior" rel="home">
                <img src="https://www.conecty.co/wp-content/uploads/2019/07/logo.png" class="" alt="Conecty">
            </a>
        </div>
        <nav class="navegation">
            <a href="recomendar.php">Recomendación de Plan</a>
            <a href="https://empresa.conecty.co/forms/clientes.php" target="_blank">Registro Cliente</a>
            <a href="https://empresa.conecty.co" target="_blank">Panel de Ventas</a>
        </nav>
    </div>
</header>
