:root {
    --primary: #004370;
    --secondary: #22b9dc;
    --font-main: 'Poppins', 'sans serif';
    --bg-header: #222;
    --bg-footer: #004370;
}

html {
    box-sizing: border-box;
    font-size: 1rem;
    font-family: var(--font-main);
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Globales */
h3 {
    color: var(--primary);
}

a {
    text-decoration: none;
}

input:focus {
    outline: none;
    border: 4px solid #22b9dc;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.container {
    max-width: clamp(70vw, 70vw, 80vw);
}

/* Header */
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.header .container .logo {
    padding: .8rem 0;
    width: min-content;
}

.header .container .logo a img {
    width: 50%;
    min-width: 220px;
}

.header .container .navegation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .navegation a {
    padding: 1rem;
    color: var(--primary);
    font-family: var(--font-main);
}

/* Main */
main {
    padding: clamp(2rem, 3rem, 4rem) 0;
}

main .container > * {
    padding: clamp(1rem, 2rem, 3rem) 0;
}

/* Footer */
.footer {
    background-color: var(--bg-footer);
    color: white;
    padding: 1rem;
    text-align: center;
}
